html{
    box-sizing: border-box;
    margin: 10px;
    background-color: black;
}
h1{
    padding: 20px;
    border: 20px;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: red;
    text-align: center;
}

h2{
    padding: 15px;
    border: 20px;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: red;
    text-align: center;
}

p,ul,ol{
    padding: 20px;
    background-color: black;
    color: red;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

span{
    display: block;
    text-align: center;
}