html{
    box-sizing: border-box;
}
body{
    background-color: black;
   }

.heading{
    padding: 20px;
    border: 20px;
    height: 40px;
    width: 400px;
    margin: 0 auto;
    color: Black;
    background-color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: xx-large;
    text-align: center;
}

a{
    display: inline-block;
    padding: 20px;
    border: 5px;
    margin-left: 800px;
    color:  red;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: xx-large;
}

